body {
    font-family: var(--font-primary);
    color: var(--color-dark-gray);
}

main {
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
}

.btn-outline {
    background-color:transparent;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    margin-left: 1rem;
}

.btn-filled {
    background-color: #ffffff;
    color: var(--color-brand);
    border: none;
    padding: 10px 20px;
    margin-left: 1rem;
}

.btn:hover {
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}