 /*FONTE UBUNTU - GOOGLE FONTS*/

 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* 1. CORES */
    /* Cores da Marca e Interativas */
    --color-brand: #6329A2; 
    /* Um roxo/magenta escuro, a cor principal da marca */
    --color-accent: #007bff; /* Exemplo: Azul padrão para links/botões */
    --color-success: #28a745;
    --color-danger: #dc3545;

    /* Cores Neutras e de Fundo */
    --color-dark-gray: #333333;
    --color-light-gray: #EDEDED;


    /* 2. TIPOGRAFIA */
    /* Fontes */
    --font-primary: 'Ubuntu', sans-serif; 
}