.footer {
    background-color: var(--color-dark-gray);
    color: #FFFFFF;
    margin-top: 40px;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap: 9.7rem;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.newsletters-form {
    font-size: 1rem;
}

#email-newsletter{
    width: 21.5rem;
    height: 2.75rem;
    border-radius: 30px;
}

.social-media ul {
    display: flex;
    gap: 1.25rem;
    margin-top: 1rem;
}

.social-media ul a:hover{
    opacity: 0.7;
}

.footer-nav-columns {
    display: flex;
    gap: 1.25rem;
    font-size: 1.25rem;
}

.nav-column h4 {
    font-weight: 400;
}

.nav-column ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 8.8rem;
    margin-top: 1rem;
}

.nav-column ul li a{
    color: #FFFFFF;
}

.nav-column ul li a:hover{
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.875rem;
    border-top: 1px solid #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
}