.header {
    background-color: #ffffff;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.255rem 1.25rem;
}

.logo img {
    height: 48px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-dark-gray);
}

.nav-center a:hover,
.nav-right a:hover {
    color: var(--color-brand);
    transition: ease-in-out 0.3s;
    opacity: 0.7;
}

.nav-right ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}