.hero-section {
    background: url(../../images/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    border-radius: 20px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero-content {
    max-width: 360px;
    color: #ffffff;
    text-align: center;
}

.hero-content .hero-title {
    font-size: 1.85rem;
    line-height: 36px;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

.heros-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
}


/*16:00*/