.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.top1 {
    grid-area: top1;
    background-image: url(../../images/products/grid-modelo-masculino.jpg);
}

.top2 {
    grid-area: top2;
    background-image: url(../../images/products/grid-tenis-roxo-verde.jpg);
}

.midL {
    grid-area: midL;
    background-image: url(../../images/products/grid-modelo-feminino.jpg);
}

.midR {
    grid-area: midR;
    background-color: blue;
    background-image: url(../../images/products/grid-tenis-moderno.jpg);
}

.bottomL {
    grid-area: bottomL;
    background-color: red;
    background-image: url(../../images/products/grid-tenis-preto-azul.jpg);
}

.bottomR {
    grid-area: bottomR;
    background-color: coral;
    background-image: url(../../images/products/grid-tenis-futurista.jpg);
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 30px;
    margin-top: 40px;
}

.top1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.top1-title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #EDEDED;
}

.top1-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: #EDEDED;
}

.cta-group {
    display: flex;
    gap: 10px;
}